<template>
    <lightning-card title="{ComponentLabel}">
        <div class="slds-p-around_medium">
            <p class="slds-text-body_regular">{message}</p>
        </div>
    </lightning-card>
</template>

