 /**
 * @description       : Service para {FeatureName}.
 * @author            : 
 * @group             :
 * @last modified on  : 
 * @last modified by  : 
 **/
public class {ServiceName} {

    // ------------------------------------------------------------------------------------------------------------------------
    // -------------------- SINGLETON -----------------------------------------------------------------------------------------
    // ------------------------------------------------------------------------------------------------------------------------

    private static {ServiceName} instance;

    public static {ServiceName} getInstance() {
        if (instance == null) {
            instance = new {ServiceName}();
        }
        return instance;
    }
    

    // ------------------------------------------------------------------------------------------------------------------------
    // -------------------- CONSTRUCTORS --------------------------------------------------------------------------------------
    // ------------------------------------------------------------------------------------------------------------------------


    // ------------------------------------------------------------------------------------------------------------------------
    // -------------------- ATTRIBUTES ----------------------------------------------------------------------------------------
    // ------------------------------------------------------------------------------------------------------------------------

    private {ServiceName}() {}


    // ------------------------------------------------------------------------------------------------------------------------
    // -------------------- PUBLIC METHODS -------------------------------------------------------------------------------------
    // ------------------------------------------------------------------------------------------------------------------------

    /**
    * @description Executa a regra principal usando o RequestDTO definido na Controller.
    * @author 
    * @param requestDto
    * @return ResponseDTO
    **/
    public {ControllerName}.Result execute({ControllerName}.RequestDTO requestDto) {
        try {
            // TODO: implementar regra de negócio real
            return new {ControllerName}.Result(true, 'OK');
        } catch({ControllerName}.{ControllerName}ResultException ex) {
            throw new {ControllerName}.{ControllerName}ResultException({Descrição coerente do erro | ex.getMessage()});
        }
    }

    
    // ------------------------------------------------------------------------------------------------------------------------
    // -------------------- PRIVATE METHODS -----------------------------------------------------------------------------------
    // ------------------------------------------------------------------------------------------------------------------------
    

    // ------------------------------------------------------------------------------------------------------------------------
    // -------------------- QUERIES -------------------------------------------------------------------------------------------
    // ------------------------------------------------------------------------------------------------------------------------
}
